.social-likes__icon_hacker_news {
	color: #333;
}
.social-likes__widget_hacker_news:hover,
.social-likes__widget_hacker_news:active,
.social-likes__widget_hacker_news:focus {
	background: #333;
	border-color: #333;
}

