- provide(:title, "Edit Comment")
= render "layouts/blog_login_logout"
%h1
  Edit Comment

- if @comment.parent
  = render "comment", comment: @comment.parent, from_reply_form: true

= render partial: "form"

%ul.divider-list.p-l-0
  %li
    = link_to "Back To Blog Post", post_path(@post)
