- provide(:title, "New Comment")
= render partial: "layouts/blog_login_logout"
%article
  %h1
    New Comment

- if @comment.parent
  = render partial: "comment", locals: { comment: @comment.parent }, from_reply_form: true

= render partial: "comments/form"

%ul.divider-list.p-l-0
  %li
    = link_to "Back To Blog Post", post_path(@post)
