<% provide(:title, "Update User") %>
<%= render "layouts/blog_login_logout" %>
<h1>Update User</h1>

<%= render "form" %>

<%= link_to "Back to All Users", users_path %>
<% if current_user || admin_is_logged_in %>
	 | <%= link_to "Delete Account", @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>


