- provide(:title, "Clients")

%h1
  Clients

.row
  .col-lg-3.col-lg-offset-9.col-md-3.col-md-offset-9.col-sm-3.col-sm-offset-9.col-xs-4.col-xs-offset-8.right-align
    = link_to "Back to Portfolio", "/portfolio"

- if @clients.any?
  %p
    The following is a list of clients that I have worked with in the past:

  %ul.row.clients.no-bullet
    - @clients.each do |client|
      = render partial: 'clients/client', locals: { client: client }
- else
  = render partial: 'nest/portfolio_not_found',
    locals: { portfolio_resource: "clients" }

%br
- if admin_is_logged_in
  = link_to 'New Client', new_client_path
