- provide(:title, "Clients")

%h1
  Clients

%p
  The following is a list of clients that I have worked with in the past:

%ul.clients
  - @clients.each do |client|
    = render partial: 'clients/client', locals: { client: client }

%br
- if admin_is_logged_in
  = link_to 'New Client', new_client_path
