- provide(:title, "Projects")

%h1
  Projects

%ul.clients
  = @projects.each do |project|
    %li
      - unless project.image.try(:thumb).nil?
        = link_to image_tag(project.image.thumb.url, width: '100%'), ''
