- provide(:title, "All Projects")

%h1
  Projects

%p
  Many of the personal projects I've worked on can be found on my
  #{ link_to "GitHub", "https://github.com/kohrVid" } page (which also contains
  &nbsp;links to the apps that I've deployed to Heroku). The following is a sample of
  what I've worked on in the past:

%ul.projects
  - @projects.each do |project|
    = render partial: 'projects/project', locals: { project: project }

%br
- if admin_is_logged_in?
  = link_to 'New Project', new_project_path
