<%= form_for(@tag) do |f| %>
	<table class = "general_form">
		<tr>
			<td><%= f.label :name, "Name:" %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.submit "Submit", class: "button" %></td>
		</tr>
	</table>
<%end%>
