= form_for(@tag) do |f|
  .general_form
    %fieldset.row
      .col-lg-2.col-md-2.col-sm-12.col-xs-12
        = f.label :name, "Name"
      .col-lg-8.col-md-9.col-sm-12.col-xs-12
        = f.text_field :name
    %fieldset.row
      .col-lg-8.col-md-9.col-md-offset-2.col-sm-12.col-xs-12
        = f.button "Submit", class: "button"
