<% provide(:title, "Update Tag") %>
<%= render "layouts/blog_login_logout" %>
<h1>Update Tag</h1>

<%= render "form" %>

<%= link_to "Back to All Tags", tags_path %>
<% if current_user || admin_is_logged_in %>
	 | <%= link_to "Delete Tag", @tag, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' } %>
<%end%>



