-#- Post.post_date.each do |year, month_hash|
  -#.blog_archive_year
    -#= link_to year, "#", id: "accordion"
      -#.blog_archive_year_list.accordion-inner
        -#- month_hash.each do |month, post_record|
          -#.blog_archive_month
            -#-#= link_to Date::MONTHNAMES[month], "#"
            -#.blog_archive_month_list.accordion-inner
              -#- post_record.each do |post|
                -#= link_to "#{post.published_at.strftime("%d/%m/%y")} - #{post.title}", post_path(post)

-#- unless !admin_is_logged_in?
  -#.blog_archive_draft
    -#%a{ href: "#" }
      -#Draft
  -#.blog_archive_draft_list
    -#- Post.all.where(draft: true).order("published_at DESC").each do |draft_post|
      -#= link_to "#{draft_post.created_at.strftime("%d/%m/%y")} - #{draft_post.title}", post_path(draft_post)
