table, label, a, p, ul{
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  list-style-type: none;
}

form .general-form {
  text-align: left;
}

fieldset {
  margin: 16px 0;
  border: 0;
}

.field_with_errors {
  input {
    width: 100%;
  }
}

input, textarea, input[type="checkbox"]:checked {
  background-color: $light-grey;
  color: $black;
}

button, .button {
  color: $light-grey;
  background-color: $black;
  border-radius: 10px;
  width: 100%;
}
