// Place all the styles related to the nest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lilac: #6767D7;
$light-grey: #F9F9F9;
$grey: #D7D7D7;
$black: #010101;
$rouge: #9F0000;

// These will be overwritten by custom styles
@import "normalize";
@import "bootstrap-grid12";

@import "fonts.scss";
@import "padding.scss";
@import "clients.scss";
//@import "coderay.scss";
@import "dividers.scss";
@import "form.scss";
@import "navigation.scss.haml";
@import "posts.scss";
@import "utils.scss.haml";

// This should override all other styles
@import "position.scss";
