.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.ql-align-left, .ql-align-center, .ql-align-right {
  // Overflow needs to be set to ensure that div height stretches to the height
  // of its contents.
  overflow: auto;
}

.centre, .ql-align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right-align, .ql-align-right img {
  float: right;
  right: 0;
}

@media screen and (max-width: 767px) {
  .small-centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
