.replies {
  border-left: 2px solid $lilac;
  border-top: 1px solid rgba($black, 0.7);
  margin-left: 5%;
  padding-left: 15px;
  padding-bottom: 1px;
  .comment:not(:first-child) {
    border-top: 1px solid rgba($black, 0.7);
    margin-top: 15px;
  }
}

.replies .replies .replies .replies .replies { 
  margin-left: 0;
}

.tags {
  display: block;
  li {
    padding: 0 9px;
    margin: 3px;
    border-radius: 10px;
    background-color: $black !important;
    line-height: 37px !important;
    color: $light-grey !important;
    font-weight: bold;
    display: inline-block;
  }
}

article {
  padding-top: 10px;
  border-bottom: 1px $black solid;
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .blog_archives {
    right: -104px;
    height: 58%;
    width: 25%;
  }
  .clients li {
    width: 70%;
    height: 75%;
  }
}

@media screen and (min-width: 501px) and	(max-width: 840px){
  .blog_archives {
    left: 72%; /* 500px;*/ /*400px;79%*/
    height: 58%;
    width: 103px;
  }
  .clients li {
    width: 40%;
    height: 240px;
  }
}

@media screen and (min-width: 841px) and	(max-width: 950px){
  .blog_archives {
    left: 530px;/*442px;*/
    height: 60%;
    width: 185px;
  }
  .clients li {
    width: 23%;
    height: 189px;
  }
}

@media screen and (min-width: 951px) {
  .blog_archives {
    left: 530px; /*487px;*/
    height: 66%;
    width: 185px;
  }
  .clients li {
    width: 23%;
    height: 189px;
  }
}

.blog_archives {
  position: fixed;
  float: left;
  padding: 7px;
  margin-top: 50px;
  margin-right: 95px;
  top: 3%;
  z-index: -28 !important;
  flex-direction: column;
  > * {
    flex: 0 0 25px;
    outline: 0;
    transition: flex-basis 0.3s linear;
  }
}

.blog_archive_year {
  width: 100%;
  overflow: hidden !important;
  .blog_archive_year_list {
    width: 100%;
    .blog_archive_month {
      width: 100%;
      position: relative;
      top: -19px;
      left: -35px;
      a {
        width: 78%;
      }
      flex-direction: column;
      > * {
        flex: 0 0 50px;
        outline: 0;
        transition: flex-basis 0.3s linear;
      }
      .blog_archive_month_list {
        height: 250%;
        width: 98%;
        left: -23px;
        background-color: rgba(0,0,0,0) !important;
        word-wrap: break-word;
        position: relative;
        a:link, a:visited, a:hover, a:active {
          color: $lilac !important;
        }
        a:hover{
          font-size: 1.1rem !important;
        }
      }
    }
  }
}

.blog_archive_draft {
  width: 100%;
  overflow: hidden !important;
  .blog_archive_draft_list {
    height: 30%;
    width: 99%;
    left: -13px;
    word-wrap: break-word;
    position: relative;
    a {
      position: relative;
      left: -10px;
    }
    a:link, a:visited, a:hover, a:active{
      color: $lilac !important;
    }
    a:hover {
      font-size: 1.1rem !important;
    }
    flex-direction: column;
    > * {
      flex: 0 0 25px;
      outline: 0;
      transition: flex-basis 0.3s linear;
    }
  }
}

.ui-accordion {
  border-radius: 15px !important;
}

.ui-accordion-content {
  background-color: rgba(0,0,0,0) !important;
}

.ui-widget-content {
  background-image:none;
  background-color: rgba(252,252,252,0.7) !important;
}
