%ul.tags.p-l-0
  %li
    Ruby
  %li
    Ruby on Rails
  %li
    Go
  %li
    Javascript
  %li
    RSpec3
  %li
    Cucumber/Selenium
  %li
    PostgreSQL
  %li
    MySQL2
  %li
    Python3
  %li
    Heroku
  %li
    AWS (S3, EC2, Route53)
  %li
    CSS3/Sass
  %li
    Redis
  %li
    MongoDB
  %li
    Elasticsearch
  %li
    AngularJS
  %li
    TSQL
  %li
    Jasmine
  %li
    = link_to "Linux", "http://www.urbandictionary.com/define.php?term=penguinista", title: "penguinista", target: "blank"
  %li
    Padrino/Sinatra
  %li
    Devise
  %li
    CarrierWave
  %li
    Cobra
  %li
    Git

%p
  ...And of course, jQuery!
