<h1>Hi<span style = "font-family: Arial, Helvetica; font-size: 1rem;">,</span> my name's Jess.</h1>

<p>I'm the sole developer at kohrVid, an up-and-coming web development firm based in London. At present, I specialise in Ruby on Rails and am proficient in HTML, CSS, JavaScript, jQuery and CoffeScript. Most of my previous work can be found on my <%= link_to "GitHub", "https://github.com/kohrVid/"%> page. I'm available for freelance projects so please <%= link_to "get in touch", contact_path %> if you're interested.</p>
