<h1>Hi<span style = "font-family: Arial, Helvetica; font-size: 1rem;">,</span> my name's Jess.</h1>

<p>I'm a web developer from London. At present, I specialise in Ruby on Rails, HTML and CSS but have worked with JavaScript/jQuery/CoffeScript in the past. Most of my exeperimental work can be seen on my <%= link_to "GitHub", "https://github.com/kohrVid/"%> page. I am available for freelance projects so please <%= link_to "get in touch", "#" %> if you're interested.</p>
