<% if flash.present? %>
	<div class = "alerts">
		<% flash.each do |key, value| %>
			<div class = "<%= key %>">
				<h4><%= value %></h4>
				<a href = "#" class = "close">&times;</a>
				<% [@user, @contact, @client, @comment, @post, @tag].each do |model| %>
					<% if model.present? %>
						<% @object = model %>
					<%end%>
				<%end%>
				<% if @object.present? && @object.errors.any? %>
					The form contains <%= pluralize(@object.errors.count, "error")%>.
					<ul>
						<% @object.errors.full_messages.each do |msg|%>
							<li><%=msg%></li>
						<%end%>
					</ul>
				<%end%>
			</div>
		<%end%>
	</div>
<%end%>
