<% if flash.present? %>
	<div class = "alerts">
		<% flash.each do |key, value| %>
			<div class = "<%= key %>">
				<h3><%= value %></h3>
				<a href = "#" class = "close">&times;</a>
				<% if @user.present? %>
					<% object = @user %>
				<% elsif user.present? %>
					<% object = user %>
				<% elsif @contact.present? %>
					<% object = @contact %>
				<% elsif @client.present? %>
					<% object = @client %>
				<%end%>
				<% if object.present? && object.errors.any? %>
					The form contains <%= pluralize(object.errors.count, "error")%>.
					<ul>
						<% object.errors.full_messages.each do |msg|%>
							<li><%=msg%></li>
						<%end%>
					</ul>
				<%end%>
			</div>
		<%end%>
	</div>
<%end%>
