- if flash.present?
  .alerts
    - flash.each do |key, value|
      %div{ class: key }
        %h4
          = value
        %a.close{ href: "#" }
          &times;
        - if list_current_errors.any?
          The form contains #{ pluralize(list_current_errors.count, "error") }.
          %ul
            - list_current_errors.each do |msg|
              %li
                = msg
