%ul.inline-list.p-l-0
  %li
    %span.icon
      = link_to image_tag( "github.png"), "https://github.com/kohrVid", title: "GitHub"
  %li
    %span.icon
      = link_to image_tag( "twitter.png"), "https://twitter.com/intent/follow?screen_name=kohrVid&tw_p=followbutton", title: "Twitter"

