!!! 5
%html{:lang => "en"}
  = render partial: "layouts/head"
  %body
    #wrapper.container-fluid
      .row
        = render partial: "layouts/navigation"
        %main.col-lg-8.col-md-9.col-sm-8.col-xs-12
          <!--[if lte IE 8 ]>
          Sorry, this site doesn't support IE8 or lower. Please upgrade your browser or try switching to Firefox/Chrome/Opera
          <![endif]-->
          %noscript
            This site looks much nicer with JavaScript enabled so please make sure it's switched on in your browser settings if possible.
          = render partial: "layouts/alerts"
          = yield
          -#- unless !(@post||@posts).present?
            -#.blog_archives
              -#= render partial: "posts/blog_archives"

    .container-fluid
      .row
        %footer#small-footer.hidden-lg.hidden-md.hidden-sm.col-xs-12
          %center
            © 2021 kohrVid
